@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* Body, we specify a font family and background color */
body {
	background-color: rgba(2, 43, 58, 0.6);
	font-family: 'Varela Round', sans-serif;
}

/* img will be positioned in the center of a div if its small or not the right resloution */
img {
	max-width:100%;
	max-height:100%;
	border-radius: 5px;
	margin-bottom: auto;
	margin-top: auto;
	object-fit: cover;
}

/* Color for all links */
a {
	color: rgba(40, 75, 99, 1);
}

/* Hover effect for all links */
a:hover {
	opacity: 0.7;
}


/* Main Container */
.grid-container {
	background: #ffffff;
	width: 60%;
	height: 500px;
	margin: 1%;
	padding: 1%;
	display: grid;
	grid-template-columns: 45% 45%;
	grid-auto-rows: minmax(150px, auto);
	justify-content: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}

.grid-items-appointments {
	display: grid;
	margin: 5%;
	background-color: transparent;
	height: 95%;
	border-radius: 10px;
	grid-column-start: 2;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: 3;
}

/* Grid for a single appointment in all appointments section */
.grid-items-appointments-appointment {
	display: grid;
	padding: 1%;
	height: 90%;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	background-color: rgba(191, 219, 247, 0.5)
}

/* Grid for an element in a single appointment */
.appointment{
	display: grid;
	margin: 1%;
	background-color: transparent;
	height: 70%;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	border-radius: 10px;
}

/* Grid for user items */
.grid-items-user {
	display: grid;
	margin: 5% 5% 5% 0%;
	background-color: transparent;
	grid-template-columns: 40% 40%;
	border-bottom: 3px rgba(31, 122, 140, 0.6) solid;
	border-radius: 10px;
	justify-content: space-around;
	margin-right: auto;
	margin-left: auto;
}

/* Grid for icons section */
.grid-items-icons {
	display: grid;
	background-color: transparent;
	margin-top: 10%;
	grid-template-columns: 30% 30% 30%;
	height: 85%;
	width: 95%;
	border-radius: 10px;
	justify-content: space-around;
	grid-column-start: 1;
	grid-column-end: 2;
	margin-right: auto;
	margin-left: auto;
}

/* Grid for a single item in items section */
.grid-items-icons-item {
	display: grid;
	grid-template-rows: 33% 67%;
	height: 80%;
	border-radius: 10px;
	justify-content: space-around;
}

/* Grid item 1, profile picture and user info */
.grid-items-1 {
	display: grid;
	margin: 5% 5% 5% 5%;
	background-color: transparent;
	height: 85%;
	border-radius: 10px;
}

/* Grid item 2 used for making 3 rows inside of another div */
.grid-items-2 {
	display: grid;
	margin: 1%;
	background-color: transparent;
	height: 80%;
	border-radius: 10px;
	background-color: rgba(31, 122, 140, 0.4)
}

/* Long grid item which spans from start to end */
.grid-items-3 {
	display: grid;
	margin: 1%;
	background-color: transparent;
	grid-column-start: 1;
	grid-column-end: -1;
	height: 80%;
	border-radius: 10px;
}

.grid-items-3-items {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	height: 33%;
}

/* .grid-navbar {
	display: grid;
	background-color: #353535;
	margin: 0%;
	padding: 0.3%;
	grid-template-columns: 50% 20%;
	grid-gap: 10px;
}

/* DROPDOWN MENU */
/* .dropbtn {
	color: #d9d9d9;
	background-color: #353535;
	width: 35px;
  height: 5px;
  margin: 6px 0;
} */

/* The container <div> - needed to position the dropdown content */
/* .dropdown {
	position: relative;
	background-color: #353535;
	display: inline-block;
	grid-column-start: 3;
	margin-left: auto;
	margin-right: auto;
} */

/* Dropdown Content (Hidden by Default) */
/* .dropdown-content {
	display: none;
	position: absolute;
	background-color: #353535;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	margin-right: 20%;
} */

/* Links inside the dropdown */
/* .dropdown-content a {
	color: black;
	padding: 12px 16px;
	border-radius: 10px;
	text-decoration: none;
	display: block;
} */

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {
	background-color: #353535;
} */

/* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown-content {
	display: block;
	border-radius: 10px;
} */

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {
	background-color: #353535;
	border-radius: 10px; 
}*/

/* .logo-content {
	grid-column-start: 1;
	margin-left: auto;
} */

/* .nav-menu {
	margin-right: 4%;
} */


/* .nav-logo {
	height: 100%;
	width: 5%;
} */ 
